<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.broadcast_event">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Broad cast events"
        android:supportsRtl="true"
        android:theme="@style/Theme.EpicAndroidConcepts"
        >
        <receiver
            android:name=".CounterBroadcastReceiver"
            android:exported="false">
            <intent-filter>
                <action android:name="com.example.broadcast_event_COUNTER_EPIC" />
            </intent-filter>
        </receiver>

        <activity android:name="com.example.broadcast_event.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

    </application>

</manifest>
